/* .drag-area {
    border: 3px dashed #69a9a35c;
    border-radius: 10px;
    background-color: #F7F7F7;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    
}

.drag-area i{
    font-size:80px; 
    color:#3D918A
}

.drag-area .text{
    font-size: 22px; 
    color: rgb(114, 114, 114);
}

.drag-area .brows{
    font-size: 18px; 
    color: #3D918A;
    margin-top: -10px;
    
} */