
.request .form-label{
    font-size: 16px;
}

.button-ok{
    width: 20%;
    font-size: 16px;
    background: #1CCABB;
}

.form-output{
    font-size: 16px;
}

/* BUTTON */

.filter-ok{
    padding-top:32px
}

.button-ok:hover{
    background: #107A71;
}

.legend-text{
    color:#107A71;
    margin-right: 10px;
}

/* LEGENT */
.request .time-legend{
    background: #E1EEED;
}

.legend-row{
    color: #2c2c2c;
    font-size: 16px;
}

.legend-row-leave{
    color: #2c2c2c;
    font-size: 16px;
    gap: 30px;
}

.legend-row-sheet{
    color: #2c2c2c;
    font-size: 16px;
    gap: 30px;
}

/* .legend-row{
    gap: 30px
}

.legend-row-1{
    gap: 30px
}

.legend-row-2{
    gap: 30px
} */

.legend-row .custom-box{
    width: 1rem; 
    height: 1rem;
    border: 1px solid rgba(28, 100, 52, 0.3);
}

.legend-row-leave .custom-box{
    width: 1rem; 
    height: 1rem;
    border: 1px solid rgba(28, 100, 52, 0.3);
}

.legend-row-sheet .custom-box{
    width: 1rem; 
    height: 1rem;
    border: 1px solid rgba(28, 100, 52, 0.3);
}

.time-legend .custom-box-yellow{
    background-color:#FCF8E3;
}

.time-legend .custom-box-pink{
    background-color: #F2DEDE;
}

.time-legend .custom-box-blue{
    background-color:#D9EDF7;
}

.time-legend .custom-box-green{
    background-color:#BFFDD8;
}

.time-legend .custom-box-orange{
    background-color:#FFE6DA;
}

.time-legend .custom-box-violet{
    background-color:#E4E0FF;
}

.time-legend .custom-box-red{
    background-color:#ffbfbf;
}

.legend-row-leave .custom-text{
    margin: 0;
}


/* RESPONSIVENESS */
@media (min-width:  1130px) and (max-width: 1258px){
    .request .time-legend{
        display: flex;
        flex-direction: column;
    }

    .legend-row{
        display: flex;
        margin-top: -42px;
        margin-bottom: 3px;
    }

    .legend-row-leave{
        display: flex;
        margin-top: -42px;
        margin-bottom: 3px;
    }

    .legend-row-sheet{
        display: flex;
        margin-top: -42px;
        margin-bottom: 3px;
    }
}

@media (min-width: 990px) and (max-width: 1138px) {
    .request .time-legend{
        display: flex;
        flex-direction: column;
    }

    .legend-row-leave {
        flex-wrap: wrap;
        justify-content: center; 
        gap: 1.2rem;
        margin-top: -35px;
        font-size: 14px;
    }

    .legend-row-sheet {
        flex-wrap: wrap;
        justify-content: center; 
        gap: 1.2rem;
        margin-top: -35px;
        font-size: 14px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .request .time-legend{
        display: flex;
        flex-direction: column;
    }

    .legend-row-leave {
        flex-wrap: wrap;
        justify-content: center; 
        gap: 1.2rem;
        margin-top: -15px;
        font-size: 14px;
    }

    .legend-row-sheet {
        flex-wrap: wrap;
        justify-content: center; 
        gap: 1.2rem;
        margin-top: 10px;
        font-size: 14px;
    }

}

@media (min-width: 431px) and (max-width: 767px) {

    .request .form-label{
        font-size: 14px;
    }

    .form-output{
        font-size: 14px;
    }

    .button-ok{
        width: 100%;
        font-size: 13px;
    }

    .request .time-legend{
        display: flex;
        flex-direction: column;
    }

    .legend-text{
        font-size: 14px;
    }

    .legend-row-leave {
        flex-wrap: wrap;
        justify-content: center; 
        gap: 1.2rem;
        margin-top: 10px;
        font-size: 14px;
    }

    .legend-row-sheet {
        flex-wrap: wrap;
        justify-content: center; 
        gap: 1.2rem;
        margin-top: 10px;
        font-size: 14px;
    }

    .legend-row-leave .custom-text{
        margin: 6px;
    }

}

@media (max-width: 437px) {


    .legend-row-leave {
        flex-wrap: wrap;
        justify-content: center; 
        gap: .6rem;
        margin-top: 6px;
        font-size: 13px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 430px) {
    .leave-count-title{
        font-size: 14px;
    }

    .leave-count-info{
        gap: 5px;
        font-size: 14px;
    }


    .request .form-label{
        font-size: 14px;
    }

    .form-output{
        font-size: 14px;
    }

    .filter-ok{
        padding-top: 20px
    }

    .button-ok{
        width: 100%;
        font-size: 12px;
    }

    .request .time-legend{
        display: flex;
        flex-direction: column;
    }
    
    .legend-text{
        font-size: 14px;
    }


    .legend-row-sheet {
        flex-wrap: wrap;
        justify-content: center; 
        gap: 1.2rem;
        margin-top: 10px;
        font-size: 13px;
    }
}

@media (max-width: 414px) {

    .legend-row-leave {
        flex-wrap: wrap;
        justify-content: center; 
        gap: 1rem;
        margin-top: 2px;
        font-size: 13px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 390px) {

    .legend-row-leave {
        flex-wrap: wrap;
        justify-content: center; 
        gap: .5rem;
        margin-top: 2px;
        font-size: 13px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .legend-row-leave .custom-text{
        margin: 6px;
    }
}

@media (max-width: 375px) {

    .legend-row-leave {
        flex-wrap: wrap;
        justify-content: center; 
        gap: .3rem;
        margin-top: 2px;
        font-size: 13px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .legend-row-leave .custom-text{
        margin: 6px;
    }
}